.cssload-container{
	width:40px;
}

.loading6{
	width: 30px;
	height: 30px;
	background: rgb(255,89,84);
	border-radius: 50%;
	display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -webkit-flex;
		display: -moz-flex;

}
.loading6:before{
	content:"";
	width: 0;
	height: 0;
	margin:auto;
	border: 4px solid rgb(255,255,255);
	border-radius: 50%;
	animation:loading6-ani1 1.6s infinite;
		-o-animation:loading6-ani1 1.6s infinite;
		-ms-animation:loading6-ani1 1.6s infinite;
		-webkit-animation:loading6-ani1 1.6s infinite;
		-moz-animation:loading6-ani1 1.6s infinite;
}


@keyframes loading6-ani1{
	70%{
		width: 40px;
		height: 40px;
	}
	100%{
		width: 40px;
		height: 40px;
		border-width: 0;
	}
}

@-o-keyframes loading6-ani1{
	70%{
		width: 40px;
		height: 4px;
	}
	100%{
		width: 40px;
		height: 40px;
		border-width: 0;
	}
}

@-ms-keyframes loading6-ani1{
	70%{
		width: 40px;
		height: 40px;
	}
	100%{
		width: 40px;
		height: 40px;
		border-width: 0;
	}
}

@-webkit-keyframes loading6-ani1{
	70%{
		width: 20px;
		height: 20px;
	}
	100%{
		width: 20px;
		height: 20px;
		border-width: 0;
	}
}

@-moz-keyframes loading6-ani1{
	70%{
		width: 20px;
		height: 20px;
	}
	100%{
		width: 20px;
		height: 20px;
		border-width: 0;
	}
}