.hide{
  display: none;
}
.ui-grid-render-container-body .ui-grid-header-canvas {
height: 60px !important;
}
.form-control{
  border-radius:0;
}
.jsgrid-cell input{
width:100%;
}

.report-ui-grid{
    height: 90% !important;
    /*position:absolute;top:40;left:0;right:0;bottom:0*/
}
.bg-gray{
    background: gray;
    opacity: 1;
}
.navbar{
    margin-bottom: 0px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background:rgb(188, 232, 241);
    border:rgb(188, 232, 241);
    color:#000000;
}
.maxwidth{
    width:10000px
}
body,.mobilefont,.jsgrid-header-cell {
font-size:14px;
}
.row{
margin:10px 0 0 0;
}

.smallpad{
    padding:0px 5px 0px 5px;
}
.select-height{
height: 30px;
margin-bottom: 2px;
}
@media screen and (max-width: 1000px) {
.mobilefont, select, .main-container, .report-ui-grid, .jsgrid-cell,.jsgrid-header-cell {
    font-size: 9px !important;

}
.ui-grid-render-container-body .ui-grid-header-canvas {
height: 40px !important;
}
.form-control {
   padding-top: 0px;
   padding-bottom: 0px;
}
.select-height{
height: 15px;
}
.panel-body{
    padding:7px;
}
.panel-heading{
    padding:5px;
}
.slick-initialized .swipe-tab{
    height:30px;
}
}
/*#submenu:hover{
	display:inline;
}*/
