.nav-tabs>li {
    width: 33.33%;
    border: 0px;
    border-bottom-color: transparent;
    border-top-color:  transparent;
}
.nav-tabs>li>a {
    background:#7e7e7e!important;
    color: #fff !important;
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius:0px;
    margin: 0px 0px 0px 1px;
}
.nav-tabs>li.active>a{
    background:#4fbed7 !important;
    border: 0px !important;
    font-weight:bold;
    margin: 0px 0 px 0px 1px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #fff !important;
    cursor: default;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}